@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@font-face {
    font-family: 'Tektur';
    src: url(./Assets/Tektur-VariableFont_wdth\,wght.ttf);
}
html, body{
    font-family: 'Tektur', cursive !important;
}
:root{
    --dark:rgb(0, 0, 0);
    --wt:white;
    --light:rgb(206, 206, 206);
    --pink:rgb(255, 0, 76);
    --blue:rgb(11, 109, 255);
    --pink-2:rgb(156, 19, 88);
    --blue-2:rgb(5, 5, 133);
    --trans-black:rgba(0, 0, 0, 0.158);
    --drk-g:rgb(54, 54, 54);
}
.center{
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}
.mrg-10-10{
    margin: 10px;
}
::selection{
    color: var(--dark);
    background-color: var(--pink);
}
::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--drk-g);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--pink);
    border-radius: 50px;
}
.barge{
    width: 180px;
    position: relative;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}
.center{
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
.barge .image{
    position: relative;
    width: 100%;
    height: 100%;
}
.barge img{
    position: relative;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}